@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  color-scheme: dark;

  --primary: #d6e8ee;
  --primary-500: #97cad8;
  --primary-700: #018abe;
  --secondary: #02457a;

  --background: #001b48;
  --background-500: #0a1931;
  --bg-gradient: linear-gradient(180deg, #071124 0%, #081225 100%);

  --Input-border: #ffffff0f;
  --Input-focus: #0 0 0 4px rgba(38, 99, 235, 0.12);

  --red: #ef4444;
  --text: #fafafa;
  --text-500: #b3b3b3;
  --text-700: #808080;
  --ff-Inter: "Inter";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-Inter);
}
body {
  background: var(--bg-gradient);
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 2rem;
  min-height: 100vh;
}
.page {
  width: 100%;
  max-width: 27rem;
  padding: 1.75rem;
  background: var(--bg-gradient);
  border: 1px solid #ffffff0a;
  border-radius: 0.8rem;
  box-shadow: 0 10px 30px #02061799;
}
.logo {
  font-size: 1.5rem;
  color: var(--text);
  text-align: center;
  margin-bottom: 1rem;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.field {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
label {
  font-size: 0.9rem;
  color: var(--text-500);
}
input[type="email"],
input[type="password"],
input[type="text"] {
  background: transparent;
  width: 100%;
  border: 1px solid var(--Input-border);
  padding: 1rem;
  border-radius: 0.8rem;
  color: var(--text);
  font-size: 1rem;
  outline: none;
}
input:focus {
  box-shadow: var(--Input-focus);
  border-color: var(--secondary);
}
.password-row {
  display: flex;
  gap: 0.8rem;
  position: relative;
}
.hide {
  display: none;
}
.show-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 0.6;
  -webkit-tap-highlight-color: transparent;
}
.remember {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
}
.primary {
  background: var(--secondary);
  color: white;
  border: none;
  padding: 0.85rem;
  border-radius: 0.8rem;
  font-weight: 600;
  cursor: pointer;
}
.primary:hover {
  background: var(--primary-700);
}
.link {
  color: var(--primary-700);
  text-decoration: none;
}
.field-error {
  color: var(--red);
  font-size: 0.85rem;
  min-height: 18px;
}
.checkbox {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--text-500);
}
#submit-message {
  margin-top: 0.3rem;
  color: var(--primary-700);
  min-height: 1.25rem;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
